@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Th.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_ThIt.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Lt.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_LtIt.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_RgIt.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/Amazon-Ember-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/Amazon-Ember-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_He.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_HeIt.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Bd.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_BdIt.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Amazon Ember";
	letter-spacing: -0.1px;
	word-spacing: 0;
}
header {
	width: 100%;
	height: 3.725rem;
	background: #131921;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 0.75rem;
}
nav {
	padding: 0 1rem;
	background: #232f3e;
	width: 100%;
	height: 2.45rem;
}
.logo-container {
	width: 6%;
}
.logo-container img {
	padding-top: 3px;
}
.geo-location,
.logo-container,
.search-bar,
.search-bar .category-btn,
.search-bar .search-btn,
.language-select,
.sign-in-btn,
.cart {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.geo-location {
	width: 4.5%;
}
.geo-location .placeholder {
	color: #ccc;
	margin-left: 1rem;
}
.geo-location .location {
	margin-right: 1.2rem;
}
.geo-location .location-container,
.sign-in-btn .account-container,
.orders .order-container {
	margin-top: -5px;
}
.search-bar {
	width: 66%;
	height: 65%;
	background: white;
	border-radius: 5px;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0.75rem;
}
.search-bar .category-btn,
.search-bar .search-btn {
	height: 100%;
	width: 5%;
	background: #f3f3f3;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0.5px solid #ccc;
}
.search-bar .category-btn:hover {
	background: #c5c5c5;
	cursor: pointer;
}
.search-bar .search-btn:hover {
	background: #e4aa5e;
	cursor: pointer;
}
.search-bar .category-btn p i {
	margin-left: 5px;
}
.search-bar .search-btn {
	width: 4%;
	background: #febd69;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0.5px solid #febd69;
}
.language-select {
	flex-direction: row;
	width: 2.5%;
}
.language-select img {
	margin-top: 0.6rem;
	margin-right: 0.2rem;
}
.language-select i {
	color: rgba(220, 220, 220, 0.8);
	margin-top: 1rem;
}
.sign-in-btn,
.orders {
	align-items: unset;
	padding: 10px;
}
.sign-in-btn i {
	color: rgba(220, 220, 220, 0.8);
}
.cart {
	width: 4.5%;
	flex-direction: row;
	position: relative;
}
.cart h3 {
	margin-top: 0.6rem;
}
.cart p {
	color: #f08804;
	position: absolute;
	top: 10%;
	left: 31%;
}
nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
}
nav ul li {
	padding: 0.2rem 0.4rem;
	margin: 0 0.25rem;
	display: flex;
	align-items: center;
}
.hamburger-icon {
	width: 37%;
	height: 37%;
	margin-bottom: -2px;
}
nav a {
	color: #fff;
	text-decoration: none;
}
.filler {
	height: 200vh;
	width: 100%;
}
