@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Th.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_ThIt.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Lt.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_LtIt.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_RgIt.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/Amazon-Ember-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/Amazon-Ember-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_He.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_HeIt.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_Bd.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Amazon Ember";
	src: url("/assets/fonts/AmazonEmber_BdIt.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Amazon Ember";
	letter-spacing: -0.1px;
	word-spacing: 0;
	list-style: none;
}
.mobile-media {
	display: none;
}
@media (max-width: 425px) {
	.desktop-media {
		display: none;
	}
	.mobile-media {
		display: unset;
	}
}
@media (min-width: 501px) and (max-width: 768px) {
	body {
		width: 187vw;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	body {
		width: 140vw;
	}
}
.desktop-media header {
	min-width: 100%;
	height: 3.725rem;
	background: #131921;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 0.75rem;
}
.desktop-media nav {
	padding: 0 1rem;
	background: #232f3e;
	min-width: 100%;
	height: 2.45rem;
}
.logo-container {
	width: 6%;
}
.logo-container img {
	padding-top: 3px;
}
.geo-location,
.logo-container,
.search-bar,
.search-bar .category-btn,
.search-bar .search-btn,
.language-select,
.sign-in-btn,
.cart {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.geo-location {
	width: 4.5%;
}
.geo-location .placeholder {
	color: #ccc;
	margin-left: 1rem;
}
.geo-location .location {
	margin-right: 1.2rem;
}
.geo-location .location-container,
.sign-in-btn .account-container,
.orders .order-container {
	margin-top: -5px;
}
.search-bar {
	width: 66%;
	height: 65%;
	background: white;
	border-radius: 5px;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0.75rem;
}
.search-bar .category-btn,
.search-bar .search-btn {
	height: 100%;
	width: 5%;
	background: #f3f3f3;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0.5px solid #ccc;
}
.search-bar .category-btn:hover {
	background: #c5c5c5;
	cursor: pointer;
}
.search-bar .search-btn:hover {
	background: #e4aa5e;
	cursor: pointer;
}
.search-bar .category-btn p i {
	margin-left: 5px;
}
.search-bar .search-btn {
	width: 4%;
	background: #febd69;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0.5px solid #febd69;
}
.language-select {
	flex-direction: row;
	width: 2.5%;
}
.language-select img {
	margin-top: 0.6rem;
	margin-right: 0.2rem;
}
.language-select i {
	color: rgba(220, 220, 220, 0.8);
	margin-top: 1rem;
}
.sign-in-btn,
.orders {
	align-items: unset;
	padding: 10px;
}
.sign-in-btn i {
	color: rgba(220, 220, 220, 0.8);
}
.cart {
	width: 4.5%;
	flex-direction: row;
	position: relative;
}
.cart h3 {
	margin-top: 0.6rem;
}
.cart .counter {
	color: #f08804;
	position: absolute;
	top: 10%;
	left: 31%;
}
.desktop-media nav ul {
	width: 100%;
	height: 100%;
	flex-direction: row;
}
.desktop-media nav ul li {
	height: 80%;
	padding: 0.2rem 0.4rem;
	margin: 0 0.25rem;
}
.hamburger-icon {
	width: 60%;
	height: 60%;
	padding-right: 5px;
}
.desktop-media nav a {
	color: #fff;
	text-decoration: none;
}
.sale-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
.desktop-media main {
	height: 200vh;
	padding: 0 10.5%;
	width: 100%;
}
.breadcrumbs {
	margin-bottom: 1rem;
}
.breadcrumbs li a {
	text-decoration: none;
	color: unset;
}
.breadcrumbs li a:hover {
	text-decoration: underline;
}
.layout-grid {
	display: flex;
}
.sticky-scroll-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.3rem;
	position: sticky;
	top: 0;
	/* bottom: 0; */
	width: 51%;
	height: 100%;
}
.sticky-scroll-container .flex-start {
	width: 100%;
	justify-content: center;
}
.layout-grid .img-select {
	width: 40px;
	height: 40px;
	margin: 0.3rem 0.5rem 0.6rem 0;
}
.layout-grid .img-select img {
	border: 0.5px #44444477 solid;
	border-radius: 3px;
}

.layout-grid .image-container {
	width: 100%;
	height: 73vh;
	justify-content: center;
}
.layout-grid .preview-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.text-container {
	width: 30%;
}
.text-container h2 {
	line-height: 1.35;
}
.text-container .rating-container {
	width: 100%;
}
.text-container * {
	padding: 1px 0;
}
.rating-container i,
.desc-container i {
	font-size: 0.5rem;
	color: #606060;
	padding: 0 7px;
	margin-right: 10px;
}
.text-container a {
	padding: 0 4px;
}
.amazons-choice-container {
	margin-top: 4px;
	padding-bottom: 8px;
	border-bottom: 1px solid #cccccc88;
}
.amazons-choice-container p.flex-center {
	padding: 3px 7px;
	color: #fff;
	background: #232f3e;
}
.triangle {
	margin-top: 1px;
	width: 0;
	height: 0;
	border-right: 11px solid transparent;
	border-top: 23px solid;
	color: #232f3e;
}
.desc-container {
	display: flex;
	padding-top: 12px;
	flex-direction: column;
}
.price-container {
	display: flex;
	padding-bottom: 8px;
}
.price-text {
	margin-left: 3px;
	width: 90%;
}
.desc-container a i {
	padding: 3px;
}
.desc-container .fees-text {
	line-height: 1.45;
}
.properties-container {
	margin-top: 5px;
	line-height: 1.5;
	overflow: hidden;
}
.see-more-btn {
	width: 100%;
	border-bottom: 1px solid #cccccc88;
	padding-bottom: 5px;
}
.see-more-btn i,
.shipping-container fees-text i {
	margin: 0;
	padding: 0;
	font-size: 0.5rem;
}
.about-section {
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.about-section ul {
	margin-left: 1rem;
}
.about-section ul li {
	list-style: disc;
}
.compare-link {
	margin-bottom: 1rem;
}
.compare-link ~ a {
	padding-bottom: 0.8rem;
	border-bottom: 1px solid #cccccc88;
}
.similar-suggestion {
	margin-top: 1rem;
}
.similar-suggestion a {
	line-height: 1.5;
}
.suggestion-card img {
	width: 20%;
}
.rating-text {
	margin-left: 5.75rem;
}
.rating-text img {
	width: 22%;
}
.side-menu {
	width: 16.5%;
	height: 80vh;
	margin-left: 1vw;
}
.shipping-container,
.new-items {
	border: 1px solid #cccccc;
	padding: 1rem;
	border-radius: 5px;
	line-height: 1.5;
}
.shipping-info {
	margin: 10px 0 17px 0;
}
.location-btn {
	margin-bottom: 5px;
}
.location-btn img {
	filter: invert(100);
	width: 7%;
	margin-right: 0.5rem;
}
.quantity-select p,
.add-to-list {
	margin-top: 0.5rem;
	background: #f0f2f2;
	padding: 1px 6px;
	border: 1px solid #cccccc;
	border-radius: 8px;
	box-shadow: 0px 0px 2px 2px #cccccc88;
}
.quantity-select:hover {
	background: #e3e6e6;
}
.add-to-cart,
.buy-btn {
	background: #ffd814;
	justify-content: center;
	text-decoration: none;
	color: #333;
	height: 3.5vh;
	width: 100%;
	border-radius: 25px;
	margin: 0.5rem 0;
}
.add-to-cart:hover {
	background: #f7ca00;
}
.buy-btn {
	background: #ffa41c;
}
.buy-btn:hover {
	background: #fa8900;
}
.secure-transaction-container {
	margin-bottom: 0.9rem;
}
.secure-transaction-container img {
	width: 5%;
	margin-right: 0.8rem;
}
.shipping-container .property-label {
	width: 35%;
}
.return-policy {
	margin: 0.5rem 0 0.2rem 0;
}
.gift-receipt-checkbox {
	padding-bottom: 1rem;
	border-bottom: 1px solid #cccccc88;
}
.gift-receipt-checkbox p {
	margin-left: 0.3rem;
	margin-top: -0.2rem;
}
.add-to-list {
	margin-top: 1rem;
	background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 0.25rem 0.5rem;
}
.new-items {
	margin-top: 1.5rem;
}
.new-items span {
	margin-left: 0.25rem;
}
.new-items i {
	margin-left: 4rem;
}
.share-container,
.sell-container {
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}
.share-container * {
	margin: 0.2rem;
}
.sell-container {
	flex-direction: column;
}
.sell-btn {
	padding: 5px;
	border: 1px solid #cccccc88;
	border-radius: 8px;
	padding: 0.3rem 0.5rem;
}

.carousel {
	margin-top: 1.5rem;
	width: 100%;
	/* height: 17%; */
	border-bottom: 1px solid #ccc;
	flex-direction: column;
	padding-bottom: 1rem;
}
.carousel h3,
.carousel p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel p {
	position: absolute;
	right: 0;
}
.carousel .carousel-text {
	position: relative;
	align-self: flex-start;
	width: 100%;
}
.cards-container {
	margin-top: 2rem;
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	display: flex;
	flex-direction: column;
	padding: 0 0.9rem;
}
.card-rating img {
	width: 55%;
}
.arrow-button {
	align-self: center;
	background: #fff;
	border: 1px solid #cccccc88;
	border-radius: 5px;
	box-shadow: 0 0 2px 2px #cccccc44;
	margin: 1.5rem;
}
.arrow-button i {
	padding: 11px;
}
