.btn {
	color: white;
	border: transparent solid 1px;
}
.btn:hover {
	border: white solid 1px;
	cursor: pointer;
}
.link {
	color: #007185;
	text-decoration: none;
}
.link:hover {
	color: #c7511f;
	text-decoration: underline;
	cursor: pointer;
}
.layout-grid .selected img {
	border: #f08804 1px solid;
	box-shadow: #f08804 0 0 8px;
}
.text-gray {
	color: #555;
}
.text-orange {
	color: #f08804;
}
.text-dark-orange {
	color: #c7511f;
}
.text-green {
	color: #007600;
}
.text-small {
	font-size: 0.75rem;
}
.text-large {
	font-size: 1.1rem;
}
.font-thin {
	font-weight: 200;
}
.font-regular {
	font-weight: 400;
}
.font-light {
	font-weight: 300;
}
.font-medium {
	font-weight: 500;
}
.font-heavy {
	font-weight: 600;
}
.font-bold {
	font-weight: bold;
}
.font-italic {
	font-style: italic;
}
.text-regular {
	font-size: 0.9rem;
}
.display-inblock {
	display: inline-block;
}
.display-block {
	display: block;
}
.flex-center {
	display: flex;
	align-items: center;
}
.flex-start {
	display: flex;
	align-items: flex-start;
}
.property-label {
	width: 24%;
	padding-right: 2px;
}
.minimized {
	height: 11.25rem;
}
